body {
    background-color: black;
    background-image: url(img/backgroundneon.jpg);
}

@font-face {
	font-family: "jack", sans-serif;
	src: url(fonts/cfjackstory-regular.ttf) format("truetype");
}

@font-face {
	font-family: "hello_casual", sans-serif;
	src: url(fonts/hello_casual.ttf) format("truetype");
}

@font-face {
	font-family: "coffee", sans-serif;
	src: url(fonts/djb_coffee_shoppe_espresso.ttf) format("truetype");
}

h1 {
	font-family: "jack";
	font-size: 2.2em;
    color: white;
}

.tagline,
h2 {
	font-family: "hello_casual";
	font-size: 1.4em;
    color: white;
}

p {
	font-family: "coffee";
	font-size: 1.2em;
    font-color: white;
}

header img {
	width: 40%;
    text-align: center;
    margin:auto;
}

header {
    width: 100%;
    text-align: center;
    margin:auto;
}
